<p id="notice"><%= notice %></p>

<h1 class="page-title"><%= @city.name %></h1>

<div class="content-grid">
	<% @reviews.each do |review| %>
		<div class="content-block">
			<div class="content-image"><%= image_tag review.picture.url(:medium) %></div>
			<div class="content-title"><%= review.title %></div>
		</div>
	<% end %>
 </div>

 <%= link_to 'Edit', edit_city_path(@city) %> |
 <%= link_to 'Black', cities_path %>
