<p id="notice"><%= notice %></p>

<h1 class="page-title"><%= @review.title %></h1>
<div class=page-image"><%= image_tag @review.picture.url (:medium)%></div>

<div class="review-body"><%= @review.body %></div>

 <%= link_to 'Edit', edit_review_path(@review) %> |
 <%= link_to 'Black', reviews_path %>